Checks: '-*,bugprone-*,modernize-*,-modernize-use-trailing-return-type,-bugprone-easily-swappable-parameters,-bugprone-narrowing-conversions,cppcoreguidelines-avoid-const-or-ref-data-members,cppcoreguidelines-avoid-goto,cppcoreguidelines-no-malloc,cppcoreguidelines-virtual-class-destructor'
WarningsAsErrors: '*'
